.main-color {
    background-color: rgb(157, 243, 217);
    align-items: center;
}

/* JUMBOTRON STYLING 
=========================================== */
.jumbotron {
    width: 100%;
    height: 300px;
    background-color: hsl(40, 84.39%, 61%);
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 0;
    margin-top: 2px;
}

.jumbotron-title {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(243, 241, 241);
}

.button {
    width: 150px;
    height:50px;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.button:hover {
    background-color:  rgb(156, 156, 156);
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* why is this so weird? */
.button:first-of-type {
    margin-right: 20px;
}

/* TOP BOOKS SECTION STYLING 
=========================================== */
.top-banner {
    /* width: 100%; */
    background-color: white;
    overflow: auto;
}

h1.top-title {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.top-border {
    border: 8px solid rgb(92, 179, 90);
    margin: 40px;
}

.top-books {
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-card {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 40px;
}

.book-card:last-of-type {
    margin-bottom: 0;
}

figcaption {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.book-card img {
    height: 90%;
}

/* BOOK LIST STYLING 
=========================================== */

.book-list {
    background-color: rgb(92, 174, 197);
}

.banner-title {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    text-transform: lowercase;
    margin: 0;
    color: rgb(0, 0, 75);
}

.books {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 5%; */
    background-color: rgb(241, 241, 241);
    padding: 0 3%;
}

.book-title {
    font-weight: bold;
    /* font-style: italic; */
    font-size: 1em;
    margin-bottom: 25px;
    color: rgb(0, 0, 75);
}

.author {
    font-weight: lighter;
    font-style: normal;
}

.book-title:first-of-type {
    padding-top: 3%;
}

.book-title:last-of-type {
    padding-bottom: 3%;
}

/* RESPONSIVE STYLING 
=========================================== */

@media only screen and (min-width: 650px){
    .jumbotron-title {
        font-size: 3em;
    }

    .banner-title {
        font-size: 2em;
    }

    .books {
        position: relative;
        top: 30px;
        left: 30px;
    }
    
    .book-card {
        margin: 0;
    }
}

@media only screen and (min-width: 1000px){
    .book-title{
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1445px) {
    .books {
        width: 70%;
        margin: 0 auto;
        margin-top: 5%;
        padding: 0 3%;
    }

    .list-title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 900px){
    .top-books {
        flex-wrap: nowrap;
    }
}
