<footer class="footer">
            <ul>
                <li><a href="mailto:laurencoseo@gmail.com"><i class="far fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lauren-coseo/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/laurencoseo"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/lauren_codes/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <p>&#169 2022 Lauren Coseo</p>
</footer>
