<header class="header">
            <div class="logo">
                <a href="/">Lauren Coseo</a>
            </div>
            <div class="topnav" id="myTopnav">
                <a href="/about">About</a>
                <a href="/life">Life</a>
                <!-- <a href="#blog">Blog</a> -->
                <a href="javascript:void(0);" class="icon" onclick="openNav()">
                  <i class="fa fa-bars"></i></a>
            </div> 

            <!-- Overlay for Responsive Nav Bar -->
            <div class="overlay" id="myNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/life">Life</a>
                    <!-- a href="#blog">Blog</a> -->
                </div>   <!-- /.topnav-->
            </div>  <!-- /.overlay-->      
        </header>
