<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Lauren Coseo">
        <title>{{ page.title }} | Engineer, Hiker, Bookworm</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3ea1f9525c.js" crossorigin="anonymous"></script>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/about.css" rel="stylesheet" type="text/css">
        <link href="/css/life.css" rel="stylesheet" type="text/css">
        <link href="/css/books.css" rel="stylesheet" type="text/css">
        {% include analytics.html %}
</head>
