<header>
            <div class="topnav">
                <div id="name-left">
                    <h1><a href="index.html">Lauren Coseo</a></h1>
                </div><!-- /#name-left -->
                <nav class="topnav-right">
                    <a href="/">Home</a>
                    <a href="/about">About Me</a>
                    <a href="/work">Work</a>
                    <a href="/life">Life</a>
                    <a href="/blog">Blog</a>
                </nav>
            </div><!-- /.topnav -->
</header>
