<head>
        <meta charset="utf-8">
        <meta name="viewport" width="device-width, initial-scale=1.0">
        <meta name="author" content="Lauren Coseo">
        <title>{{ page.title }} | Engineer, Hiker, Reader</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/about.css" rel="stylesheet" type="text/css">
        <link href="/css/life.css" rel="stylesheet" type="text/css">
        <link href="/css/books.css" rel="stylesheet" type="text/css">
        {% include analytics.html %}
</head>
