<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Lauren Coseo">
        <title>{{ page.title }} | Engineer, Hiker, Bookworm</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3ea1f9525c.js" crossorigin="anonymous"></script>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/about.css" rel="stylesheet" type="text/css">
        <link href="/css/life.css" rel="stylesheet" type="text/css">
        <link href="/css/books.css" rel="stylesheet" type="text/css">
        {% include analytics.html %}
</head>
