<!DOCTYPE html>
<html lang="en">
	
		{% include head.html %}
		
	<body>
		<div class="container">
      		
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
     
        	</div><!-- /.container -->
	
		<script>
        /* Open */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        /* Close */
        function closeNav() {
        document.getElementById("myNav").style.width = "0%";
        }
    </script>
	</body>
	
</html>
